html{
	box-sizing: border-box;
}
*,
*:before,
*:after{
	box-sizing: inherit;
}

body {
	background-color: #262626
}

/*part 1 for a menu */
/*ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 1px solid red;
	display: flex
}

li {
	border: 1px solid white
}


*/
/*part 2 for a print of many */
/*
	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
		border: 1px solid red;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		//keep items in the center
		justify-content: center;
	}
	li {
		border: 1px solid white
	}
*/

/*part 3 grid system with flex*/

.wrapper{
	width: 97%;
	float: none;
	margin: 0 auto;
}
div img {
	width: 100%;
	max-width: 2000px;
}

/*grid system mobile first*/
.grid2{
	display: flex;
	flex-flow: row wrap;
}

.col-2{
	margin-left: 2%;
}
.col-2,
.col-3{
	flex: 0 0 98%;
}
.grid2 .col-3{
	margin-left: 2%;
}

 /*Mobile landscape screen size */
@media only screen and (min-wdith: 480px){

}

@media only screen and (min-width: 900px){
	/*.grid2{
		display: flex;
		flex-flow: row
	}*/
	.grid2 .col-3:first-child{
		margin-left: 2%;
	}
	.col-2{
		flex: 0 0 47%;
	}
	.col-3{
		flex: 0 0 32%;
	}
}












